@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto');

font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;

html {
	color: black;
}

body {
	margin-top: 175px;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

	/**********/
	/* Layout */
	/**********/

h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 4% 4%;
}

p {
	line-height: 22px;
}

/* Start Header */

.navbar {
	font-size: 19px;
	padding: 0px 50px;
	border: 1px solid skyblue;
}

.navbar-align-right {
	padding-top: 3%;
}

.logo {
	max-width: 120px;
	max-height: 120px;
}

header nav {
	background-color: white !important;
}

.icon{
	color: #3750A3;
}

/* End Header */


/* Start Footer */

.text-footer {
	font-size: 18px;
}

.nav-pills>li>a{
	color: black;
}

.nav-pills>li>a:hover{
	font-size: 18px;
	color: #3750A3;
	padding-bottom: 1%; 
}

.sub-footer {
	font-size: 19px;
	padding: 1%;
}

li {
	list-style-type: none; 
}

.icon{
	color: #3750A3;
}

/* End Footer */

	/***********/
	/* Accueil */
	/***********/

.carousel {
	width: 1200px;
	height: 500px;
	max-width: 100%;
}

.slider-title {
	font-size: 35px;
	padding-bottom: 3%;
}

.random-profil {
	margin: 5% 0%;
}

.btn-custom {
	margin-top: 10%;
	color: white;
	text-transform: uppercase;
	background-color: #2980b9;
	padding:11px 14px;
	font-size: 17.5px;
	border-radius: 6px;
}

.btn-custom:hover {
	color: #FFE100;
	padding:11px 14px;
	font-size: 17.5px;
	border-radius: 6px;
	border: 1px solid black;
}

@media (max-width: 768px) {
	.navbar {
		font-size: 19px;
		padding: 0px 0px;
		border: 1px solid skyblue;
	}

	.carousel {
		display:none;
	}

	.slider-title {
		display:none;
	}
}



	/***********/
	/* Contact */
	/***********/

.social-link {
	padding-top: 5%;
}
