@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto');

/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/



	/**********/
	/* Layout */
	/**********/

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
	/*background-color: rgb(194,224,244);*/
	color: black;
	background-color: #eee;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	/*padding: 4% 4%;*/
}

.contenu {
	padding: 1%;
	background-color: #EFEFEF;
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
}

/* Start Header */

.navbar-color {
	/*background-color: #2db9b3;*/
	background-color: #e74c3c;
	/*color: #00a49d;;*/
}

#navbar {
	font-size: 19px;
	padding: 0px 50px;
	background-color: #e74c3c;
	box-shadow: 0px 5px 5px grey;
	border-color: transparent;
}

.dropdowncustom {
	padding-top: 18%;
}

.logincustom {
	padding-top: 10%;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #e74c3c;

}
/*#navbar {
	box-shadow: 5px 5px 5px #999;
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
}

    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;

*/
.popover-content {
	    min-width: 250px;
}

.logo-link {
	min-height: 100px;
}


.logo {
	max-width: 100px;
	max-height: 100px;
}

#brand-text {
	color: #eee;
    padding-top: 8%;
    font-size: 24px;
}

header nav {
	background-color: #e74c3c;
}

.icon{
	color: #1F487E;
}

/* End Header */


/* Start Footer */

#footer {
	background-color: #e74c3c;
	padding-top: 2%;
	box-shadow: 0px -5px 5px grey;
}

.nav-pills>li>a {
	color: black;
}

.nav-pills>li>a:hover {
	font-size: 15px;
	color: black;
	padding-bottom: 1%;
}

.sub-footer {
	font-size: 19px;
	padding: 2%;
}

li {
	list-style-type: none;
}

.footer-button {
	font-weight: bold;
}

/* End Footer */

	/***********/
	/* Accueil */
	/***********/

.title-about {
	margin-bottom: 3%;
}

.description-carrousel {
	line-height: 22px;
}

.carousel {
	/*width: 1200px;
	height: 500px;
	max-width: 100%;*/
}

.slider-title {
	font-size: 35px;
	padding-bottom: 3%;
}

.random-profil {
	margin: 5% 0%;
}

.btn-custom {
	margin-top: 10%;
	color: white;
	text-transform: uppercase;
	background-color: #6290C8;
	padding:11px 14px;
	font-size: 17.5px;
	border-radius: 6px;
}

.btn-custom:hover {
	color: #FFE100;
	padding:11px 14px;
	font-size: 17.5px;
	border-radius: 6px;
	border: 1px solid black;
}

@media (max-width: 768px) {
	.navbar {
		font-size: 19px;
		padding: 0px 0px;
		border: 1px solid skyblue;
	}

	.carousel {
		display:none;
	}

	.slider-title {
		display:none;
	}

}

	/***********/
	/* Contact */
	/***********/

.social-link {
	padding-top: 5%;
}

/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- Start Profile --*//*-- --*//*-- --*/


.profile-container {

	background-color: #EFEFEF;
	/*border: 1px solid;
	border-color:  #59656F;
	border-radius: 5px;
	box-shadow: 0px 0px 15px gray;*/
	padding: 10px;
}

.profile-title{
	padding: 2%;
}

.profile-img{
	margin-bottom: 50px;
}

.profile-hr {
	border-top: 1px solid #828282;
}

.search-form{
	margin-top: 10px;
}

/*-- --*//*-- --*//*-- End Profile --*//*-- --*//*-- --*/
 /*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/

	/**********************/
	/* Page de recherche  */
	/**********************/

.map {
	height:600px;
	width:100%;
}

.title-search {
	padding: 2%; 
}

.subject-search {
	margin-bottom: 4%;
}


	/**********************/
	/* Recherche resultat */
	/**********************/

.avatar {
	margin-top: 15%;
	margin-left: 10%;
}

 /*START => SURTOUT NE RIEN TOUCHER */

.btn-search-custom {
	background-color: #6290C8;
	color: white;
	text-transform: uppercase;
	border: 2px solid black;
	padding: 20px 20px;
	font-size: 17.5px;
	border-radius: 6px;
	margin-top: 65%;
    margin-right: 50%;
}

.btn-search-custom:hover {
	color: white;
	font-size: 17.5px;
	border-radius: 6px;
	background-color: #2ecc70;
}


@media (max-width: 979px)
	   {
	.avatar {
		margin-top: 15%;
		margin-left: 25%;
	}

	.btn-search-custom {
		border: 2px solid black;
		color: white;
		text-transform: uppercase;
		background-color: #6290C8;
		padding:11px 14px;
		margin-top: 0%;
		margin-right: 0%;
		font-size: 17.5px;
		border-radius: 6px;
	}

	.btn-search-custom:hover {
		color: #FFE100;
		margin-top: 78%;
   		margin-right: 50%;
		font-size: 17.5px;
		border-radius: 6px;
		color: white;
		background-color: #2ecc70;
	}
}
 /*END => SURTOUT NE RIEN TOUCHER */

/*-- --*//*-- --*//*-- End Recherche resultat --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/



	/**********************/
	/* menu responsive */
	/**********************/

.navbar-toggle {
    border: 1.5px solid transparent;
}

.navbar-default .navbar-toggle {
    border-color: #0c0c0c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}


/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- Start Register --*//*-- --*//*-- --*/


.register-container {
	background-color: #fff !important;
	border: 1px solid;
	border-color:  lightgray;
	border-radius: 0px;
	box-shadow: 0px 0px 15px gray;
	padding: 25px;
}

/*-- --*//*-- --*//*-- End Register --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/



/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- Start Lessons --*//*-- --*//*-- --*/


#modal-rating {
	width: auto;
	padding: 5% 0;
}

#modal-finalize {
	padding: 5% 0;
	width: auto;
}

/*-- --*//*-- --*//*-- End Lesson --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/


	/***********/
	/* Subject */
	/***********/

.subj-container {
	margin-top: 50px;
	background-color: #EFECEC;
}

.id-search {
	 font-style: italic;
}


.img-miniature {
	width: 30px;	
}

#subject-table td {
    vertical-align: middle;
}

.table-subject-header {
	margin: 18px -15px;
}

