@import url('https://fonts.googleapis.com/css?family=Open+Sans:500|Roboto');

/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;*/



	/**********/
	/* Layout */
	/**********/

body {
	font-family: 'Roboto', sans-serif;
	padding-top: 100px;
	/*background-color: rgb(194,224,244);*/
	color: black;
	background-color: #eee;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.contenu {
	padding: 1%;
	background-color: #EFEFEF;
	border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
}

/* Start Header */

.navbar-color {
	/*background-color: #2db9b3;*/
	background-color: #e74c3c;
	/*color: #00a49d;;*/
}

#navbar {
	font-size: 19px;
	padding: 0px 50px;
	background-color: #e74c3c;
	box-shadow: 0px 5px 5px grey;
	border-color: transparent;
}

.dropdowncustom {
	padding-top: 18%;
}

.logincustom {
	padding-top: 10%;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #e74c3c;
	color:white;

}
/*#navbar {
	box-shadow: 5px 5px 5px #999;
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
}

    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;

*/
.popover-content {
	min-width: 250px;
}

.logo-link {
	min-height: 100px;
}


.logo {
	max-width: 100px;
	max-height: 100px;
}

#brand-text {
	color: #eee;
    padding-top: 8%;
    font-size: 24px;
}

header nav {
	background-color: #e74c3c;
}

.icon{
	color: #1F487E;
}

@media (max-width: 768px) {
	.dropdowncustom {
		padding-top: 0%;
	}
}

/* End Header */


/* Start Footer */

#footer {
	background-color: #e74c3c;
	padding-top: 2%;
	box-shadow: 0px -5px 5px grey;
}

.nav-pills>li>a {
	color: black;
}

.nav-pills>li>a:hover {
	font-size: 15px;
	color: black;
	padding-bottom: 1%;
}

.sub-footer {
	font-size: 19px;
	padding: 2%;
}

li {
	list-style-type: none;
}

.footer-button {
	font-weight: bold;
}

/* End Footer */

	/***********/
	/* Accueil */
	/***********/

.title-about {
	margin: 4% 4%;
	font-size: 40px;
}

.home-subtitle {
	padding:2%;
}
.description-carrousel {
	line-height: 60px;
	font-size: 30px;
	color: white;
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
}

.carousel {
}

.slider-title {
	font-size: 35px;
	padding-bottom: 3%;
}

.random-profil {
	margin: 5% 0%;
}

.btn-custom {
	margin-top: 5%;
	margin-bottom: 1%;
	color: white;
	text-transform: uppercase;
	background-color: #1090C8;
	padding:11px 14px;
	font-size: 17.5px;
	border-radius: 6px;
}

.btn-custom:hover {
	background-color: #2980b9; /*a9cef4*/
	color: white;
	padding:11px 14px;
	font-size: 17.5px;
	border-radius: 6px;
}

@media (max-width: 768px) {
	.navbar {
		font-size: 19px;
		padding: 0px 0px;
		border: 1px solid skyblue;
	}

	.carousel {
		display:none;
	}

	.slider-title {
		display:none;
	}

}

	/***********/
	/* Contact */
	/***********/

.social-link {
	padding-top: 5%;
}

/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- Start Profile --*//*-- --*//*-- --*/


.profile-container {

	background-color: #EFEFEF;
	/*border: 1px solid;
	border-color:  #59656F;
	border-radius: 5px;
	box-shadow: 0px 0px 15px gray;*/
	padding: 10px;
}

.profile-title{
	padding: 2%;
}

.profile-img{
	margin-bottom: 50px;
}

.profile-hr {
	border-top: 1px solid #828282;
}

.search-form {
	margin-top: 10px;
}

.table-city {
margin-top: 16px;
}

/*-- --*//*-- --*//*-- End Profile --*//*-- --*//*-- --*/
 /*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/

	/**********************/
	/* Page de recherche  */
	/**********************/

.map {
	height:600px;
	width:100%;
}

.title-search {
	padding: 2%; 
}

.subject-search {
	margin-bottom: 4%;
}


	/**********************/
	/* Recherche resultat */
	/**********************/

.teacherblock {
	margin-bottom: 5%;
}

.avatar {
	margin-top: 15%;
	margin-left: 10%;
}

 /*START => SURTOUT NE RIEN TOUCHER */

.btn-search-custom {
	background-color: #6290C8;
	color: white;
	text-transform: uppercase;
	border: 2px solid black;
	padding: 20px 20px;
	font-size: 17.5px;
	border-radius: 6px;
	margin-top: 48%;
    margin-right: 50%;
}

.btn-search-custom:hover {
	color: white;
	font-size: 17.5px;
	border-radius: 6px;
	background-color: #2ecc70;
}


@media (max-width: 979px)
	   {
	.avatar {
		margin-top: 15%;
		margin-bottom: 2%;
		margin-left: 23%;
	}

	.btn-search-custom {
		border: 2px solid black;
		color: white;
		text-transform: uppercase;
		background-color: #6290C8;
		padding:11px 14px;
		margin-top: 0%;
		margin-right: 0%;
		font-size: 17.5px;
		border-radius: 6px;
	}

	.btn-search-custom:hover {
		color: #FFE100;
		margin-top: 78%;
   		margin-right: 50%;
		font-size: 17.5px;
		border-radius: 6px;
		color: white;
		background-color: #2ecc70;
	}
}
 /*END => SURTOUT NE RIEN TOUCHER */

/*-- --*//*-- --*//*-- End Recherche resultat --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/



	/**********************/
	/* menu responsive */
	/**********************/

.navbar-toggle {
    border: 1.5px solid transparent;
}

.navbar-default .navbar-toggle {
    border-color: #0c0c0c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- Start Register --*//*-- --*//*-- --*/

.register-container {
	background-color: #fff !important;
	border: 1px solid;
	border-color:  lightgray;
	border-radius: 0px;
	box-shadow: 0px 0px 15px gray;
	padding: 25px;
}

/*-- --*//*-- --*//*-- End Register --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/



/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- Start Lessons --*//*-- --*//*-- --*/


#modal-rating {
	width: auto;
	padding: 5% 0;
}

#modal-finalize {
	padding: 5% 0;
	width: auto;
}

/*-- --*//*-- --*//*-- End Lesson --*//*-- --*//*-- --*/
/*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*//*-- --*/


	/***********/
	/* Subject */
	/***********/

.subj-container {
	margin-top: 50px;
	background-color: #EFECEC;
}

.id-search {
	 font-style: italic;
}



/* RIB */

.box
{
	font-size: 1.25rem; /* 20 */
	/*background-color: #c8dadf;*/
	background-color: rgba(52, 152, 219,0.8);
	position: relative;
	padding: 100px 20px;
}
.box.has-advanced-upload
{
	/*outline: 2px dashed #92b0b3;*/
	outline: 2px dashed #000;
	outline-offset: -10px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.is-dragover
{
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}
.box__dragndrop,
.box__icon
{
	display: none;
}
.box.has-advanced-upload .box__dragndrop
{
	display: inline;
}
.box.has-advanced-upload .box__icon
{
	width: 100%;
	height: 80px;
	fill: #92b0b3;
	display: block;
	margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input
{
	visibility: hidden;
}

.box__uploading,
.box__success,
.box__error
{
	display: none;
}
.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error
{
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;

	-webkit-transform: translateY( -50% );
	transform: translateY( -50% );
}
.box__uploading
{
	font-style: italic;
}
.box__success
{
	-webkit-animation: appear-from-inside .25s ease-in-out;
	animation: appear-from-inside .25s ease-in-out;
}
@-webkit-keyframes appear-from-inside
{
	from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
	75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
	to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
	from	{ transform: translateY( -50% ) scale( 0 ); }
	75%		{ transform: translateY( -50% ) scale( 1.1 ); }
	to		{ transform: translateY( -50% ) scale( 1 ); }
}

.box__restart
{
	font-weight: 700;
}
.box__restart:focus,
.box__restart:hover
{
	color: #39bfd3;
}

.js .box__file
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.js .box__file + label
{
	max-width: 80%;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.js .box__file + label:hover strong,
.box__file:focus + label strong,
.box__file.has-focus + label strong
{
	color: #39bfd3;
}
.js .box__file:focus + label,
.js .box__file.has-focus + label
{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.js .box__file + label *
{
	/* pointer-events: none; */ /* in case of FastClick lib use */
}

.no-js .box__file + label
{
	display: none;
}

.no-js .box__button
{
	display: block;
}
.box__button
{
	font-weight: 700;
	color: #e5edf1;
	background-color: #39bfd3;
	display: none;
	padding: 8px 16px;
	margin: 40px auto 0;
}
.box__button:hover,
.box__button:focus
{
	background-color: #0f3c4b;
}


/* FIN RIB*/

.img-miniature {
	width: 30px;	
}

#subject-table td {
    vertical-align: middle;
}

.table-subject-header {
	margin: 18px -15px;
}


	/***************/
	/* Search/Home */
	/***************/


.rotate
{
  -webkit-transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1.5s;
}

